
<table>
	<tr>
		<th>NUMBER:</th>
		<th>STREET:</th>
		<th>CITY:</th>
	</tr>
 <% @address.each do |a|%>
	<tr>
		<td><%= a.number %></td>
		<td><%= a.street %></td>
		<td><%= a.city %></td>
		<td><%= link_to("Delete address", address_path(a), method: :delete) %></td>
	</tr>
	
 <% end %>
</table>

    <%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>